
.addmovie_container{
    overflow: hidden;
}

.signin{
    margin: 8px;
}

#movie{
    margin-top: 7px;
}

.collections{
    padding: 10px;
    width: 245px;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 40px;
    float: left;
    overflow: auto;
}

.wrapper{
    width: 100%;
    padding-left: 65px;
}

.clear{
    clear: both;
}

.sort{
    margin-right: 110px;
}

.thumbnail{
    margin-bottom: 0px;
}

h3{
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

.caption{
    padding: 0px;
}

#carousel-example-generic{
    width: 800px;
    margin-top: 100px;
}

.car-center{
    text-align: -webkit-center;
    margin-bottom: 50px;
}

#login-dropdown-list{
    margin-top: 15px;
}

#ratinginput{
    width: 55px;
}

#rateinput{
    margin-top: 5px;
}

#send{
    margin-left: 20px;
}

#movie-form1, #movie-form2,#movie-form3,#movie-form4{
    margin-bottom: 10px;
}

#publish{
    margin-top: 40px;
    margin-left: 170px;
    border-radius: 0px;
}


#movie-label{
    margin-left: 70px;
}



.or-spacer-vertical {
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    width: 100px;
    position: relative;
}
.or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    height: 200px;
}
.or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
}

#addon4{
    width: 115px;

}

#url,#title,#desc,#date{
    width: 300px;
}

#addform{
    margin-bottom: 30px;
    margin-top: 60px;
}

#previewform{
    float: left;
    margin-bottom: 30px;
    margin-top: 60px;
}

#thumb{
    width: 224px;
    height: 360px;
    float: left;
    margin-left: 20px;
    margin-bottom: 50px;
    /*border: transparent;*/
    border-radius: 0px;
    position: relative;
    box-shadow: 0px 3px 20px rgba(66,71,75,1);
}

.rate_bar{
    position: absolute;
    top: 323px;
    left: 10px;
}

/*.thumb_opaque{*/
    /*opacity: 0.2;*/

/*}*/

#img_thumb{
    border: transparent;
    position: relative;
}

.desc{
    margin-top: -323px;
    display: none;
    padding: 8px;
    position: absolute;
    top: 315px;
}

#img_thumb:hover .desc{
    display: block;
}

.thumbnail:hover #collection_thumb{
    opacity: 0.2;
}

.like_up{
    color: green;
    margin-left: 30px;
}

.like_down{
    color: red;
    margin-left: 30px;
}

#like_thumb{
    width: 224px;
    /*height: 400px;*/
    float: left;
    /*margin-left: 275px;*/
    margin-bottom: 20px;
    border-radius: 0px;
    box-shadow: 0px 3px 20px rgba(66,71,75,1);
}

.thumb_img_left, .thumb_img_right{
    position: relative;
    height: 300px;
}

.thumb_glph_right {
    position: absolute;
    font-size: 80px;
    top: 135px;
    left: 70px;
    color: #ffffff;
    text-shadow: 0 0 13px black;
}


.thumb_glph_left{
    position: absolute;
    font-size: 80px;
    top: 135px;
    left: 60px;
    color: #ffffff;
    text-shadow: 0 0 13px black;
}

.like_heart{
    color: red;
    margin-left: 30px;

}

.collection_thumb{
    height: 300px;
}


.like_cal{
    color: #59407F;
}

.like_desc{
    color: #FF0051;
}

.thumb_glph_left:hover{
    color: #CA0700;
    cursor: pointer;
}

.thumb_glph_right:hover{
    color: #CA0700;
    cursor: pointer;
}


.vs{
    font-size: 42px;
}
#like_vs{
    width: 224px;
    float: left;
    margin-top: 120px;
    margin-bottom: 20px;
}

.wrap{
    padding: 28px;
}

.contain{
    margin-top: 70px;
    margin-bottom: 70px;
    height: 322px;;
}

#thumb_preview{
    width: 224px;
    height: 570px;
    margin-left: 180px;
    border-radius: 0px;
    box-shadow: 0px 3px 20px rgba(66,71,75,1);
    margin-bottom: 50px;
    margin-top: 15px;
}

.ribbon{
    position: absolute;
    padding: 5px 45px;
    width: 458px;
    top: 159px;
    text-align: center;
    left: -94px;
    z-index: -1;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    box-shadow: 0 0 0 3px #FF9900, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #FF9900;
    color: #424242;
    font-size: 34px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #ffffff;
    -webkit-backface-visibility: hidden;
    letter-spacing: .5px;
    cursor: none;
    height: 62px;
}

.label{
    border-radius: 0px;
}

.input-group-addon{
    border-radius: 0px;
}

.form-control{
    border-radius: 0px;
}