.signin{
    margin: 8px;
}

.label{
    margin: 10px;
}

.collections{
    padding: 10px;
    width: 245px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 40px;
    float: left;
    overflow: auto;
}

.wrapper{
    width: 100%;


    padding-left: 65px;
}

.clear{
    clear: both;
}

.sort{
    margin-right: 110px;
}

.thumbnail{
    margin-bottom: 20px;

}