.signin{
    margin: 8px;
}

#movie{
    margin-top: 7px;
}

.collections{
    padding: 10px;
    width: 245px;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 40px;
    float: left;
    overflow: auto;
}

.wrapper{
    width: 100%;
    padding-left: 65px;
}

.clear{
    clear: both;
}

.sort{
    margin-right: 110px;
}

.thumbnail{
    margin-bottom: 20px;
}

#carousel-example-generic{
    width: 800px;
    margin-top: 100px;
}

.car-center{
    text-align: -webkit-center;
    margin-bottom: 50px;
}

#login-dropdown-list{
    margin-top: 15px;
}

#ratinginput{
    width: 55px;
}

#rateinput{
    margin-top: 5px;
}

#send{
    margin-left: 20px;
}

#movie-form1, #movie-form2,#movie-form3,#movie-form4{
    margin-bottom: 10px;
}

#publish{
    margin-top: 40px;
    margin-left: 170px;
}


#movie-label{
    margin-left: 70px;
}



.or-spacer-vertical {
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    width: 100px;
    position: relative;
}
.or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    height: 200px;
}
.or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
}

#addon4{
    width: 115px;

}

#url,#title,#desc,#date{
    width: 300px;
}

#addform{
    margin-bottom: 30px;
    margin-top: 60px;
}

#previewform{
    float: left;
    margin-bottom: 30px;
    margin-top: 60px;
}

#thumb{
    width: 224px;
    height: 700px;
    float: left;
    margin-left: 20px;

}

.wrap{
    padding: 28px;
}

#thumb_preview{
    width: 224px;
    margin-left: 180px;
}